<tr>
  <td><%= employee.name %></td>
  <td><%= employee.age %></td>
  <td><%= employee.email_id %></td>
  <td><%= employee.location %></td>
  <td><%= employee.department %></td>
  <td><%= employee.designation %></td>
  <td><%= link_to 'Delete', employee_path(employee.id),
                            method: :delete,
                            data: {confirm: "Are you sure?"} %></td>
</tr>
