<tr>
  <td><%= employee.name %></td>
  <td><%= employee.age %></td>
  <td><%= employee.email_id %></td>
  <td><%= employee.location %></td>
  <td><%= employee.department %></td>
  <td><%= employee.designation %></td>
</tr>
