<table class='sortable'>
  <thead>
    <tr>
     <th><%= sortable('name') %></th>
     <th><%= sortable('age') %></th>
     <th><%= sortable('email_id', 'Email-Id') %></th>
     <th><%= sortable('location') %></th>
     <th><%= sortable('department') %></th>
     <th><%= sortable('designation') %></th>
     <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% if @employees.blank?  %>
      <p>Bummer !!! No one here.</p>
    <% else %>
      <%= render @employees %>
    <% end %>
  </tbody>
</table>
