<!DOCTYPE html>
<html>
<head>
  <title><%= @title.presence || 'MeSpring' %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<span class='pull-right'><%= link_to('View Archived', archived_employees_path) %></span>

<h1><a href='/'>Home</a></h1>
<%= render 'employees/group_by_form' %>
<%= render 'employees/search_form' %>

<%= yield %>

</body>
</html>

<script>
  $(function(){
    <% if flash.present? %>
      alert("<%= raw(flash_message) %>");
    <% end %>
  });
</script>
