<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : @title || "Me Spring" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <span class='pull-right'><%= link_to('View Archived', archived_employees_path) %></span>

    <h1><a href='/'>Home</a></h1>
    <%= render 'employees/group_by_form' %>
    <%= render 'employees/search_form' %>

    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
